*{
    padding: 0;
    margin: 0;
}

@keyframes slideLeftToRight{
    0%{
        transform: translateX(-150%);
    }
    50%{
        transform: translateX(-75%);
    }
    90%{
        transform: translateX(10%);
    }
    95%{
        transform: translateX(-5%);
    }
    100%{
        transform: translateX(0%);
    }
}

#menuScreen{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#menu-list{
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: fit-content;
    height: 300px;
    transform: translateY(20%);
    padding: 0;
}

#menu-list #blackButtunDiv{
    width: 100%;
    font-size: 30px;
    background-color: #FA0000;
    padding: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    height: 40px;
    margin:5px;
    animation-name: slideLeftToRight;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}

#menu-list #blackButtunDiv #RedButtonDiv{
    width: 100%;
    background-color: black;
    backdrop-filter: blur(70px);
    display: flex;
    justify-content: center;
    height: 100%;
}

#menu-list #blackButtunDiv #RedButtonDiv #SinglePlayerBtn{
    font-weight: bold;
    text-transform: uppercase;
    width: 90%;
    font-size: 30px;
    background-color: black;
    color:azure;
    border: none;
    cursor: pointer;
}

#menu-list #blackButtunDiv #RedButtonDiv #SettingsBtn{
    font-weight: bold;
    text-transform: uppercase;
    width: 90%;
    font-size: 30px;
    background-color: black;
    color:azure;
    border: none;
    cursor: pointer;
}

#menu-list #blackButtunDiv #RedButtonDiv #Statbtn{
    font-weight: bold;
    text-transform: uppercase;
    width: 90%;
    font-size: 30px;
    background-color: black;
    color:azure;
    border: none;
    cursor: pointer;
}

#menu-list #blackButtunDiv #RedButtonDiv #Creditbtn{
    font-weight: bold;
    text-transform: uppercase;
    width: 90%;
    font-size: 30px;
    background-color: black;
    color:azure;
    border: none;
    cursor: pointer;
}

#menu-list #blackButtunDiv #RedButtonDiv #Exitbtn{
    font-weight: bold;
    text-transform: uppercase;
    width: 90%;
    font-size: 30px;
    background-color: black;
    color:azure;
    border: none;
    cursor: pointer;
}


#SettingBlackDiv{
    width: 10%;
    font-size: 30px;
    background-color: black;
    padding: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    height: 40px;
    margin:5px;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    margin-left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#SettingRedDiv{
    width: 100%;
    background-color: #FA0000;
    backdrop-filter: blur(70px);
    display: flex;
    justify-content: center;
    height: 100%;
}

#SettingsBlackDiv #Settingsbtn{
    background-color: black;
    width: 100%;
    height: 100%;
    padding: 0;
    cursor: pointer
}

#SettingsImg{
    cursor: pointer;
    width:30px;
    height:30px;
    margin: 0;
}


#nameGame{
    color: azure;
    transform: translateY(-80px);
    font-size: 30px;
}


#stats-list{
    width: fit-content;
    background-color: rgb(128, 128, 128, 0.4);
    background-color: transparent;
    border: 4px solid #FA0000;
    box-shadow: 2px 2px 2px 2px rgb(250, 0, 0, 0.3), inset 2px 2px 2px 2px rgb(250, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    display: none;
    flex-direction: row;
    padding-top: 50px;
    padding: 15px;
    border-radius: 8px;
}
#backbuttonDiv{
    position: relative;
    top: -10px;
    left: -10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

#backbuttonDiv img{
    width: 100%;
    height: 100%;
}


#stats-names{
    max-width: 250px;
    margin-top: 20px;
    margin-right: 20px;
    color: azure;
}

#stats-time{
    margin-top: 20px;
    margin-right: 20px;
    color: azure; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

#stats-waves{
    margin-top: 20px;
    margin-right: 20px;
    color: azure; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divider{
    border: 1px solid #FA0000;
    box-shadow: 4px 4px 4px #FA0000;
    margin-top: 1px;
    margin-bottom: 10px;
    width: 100%;
}


.stats-list h1{
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.stats-list p{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 10px;
    color: azure;
}


#credits-list{
    width: fit-content;
    min-width: 300px;
    background-color: rgb(128, 128, 128, 0.4);
    background-color: transparent;
    border: 4px solid #FA0000;
    box-shadow: 2px 2px 2px 2px rgb(250, 0, 0, 0.3), inset 2px 2px 2px 2px rgb(250, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    display: none;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding: 20px;
    border-radius: 8px;
}

#backButtonCreditsDiv{
    position: relative;
    top: -10px;
    left: -150px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

#backButtonCreditsDiv img{
    width: 100%;
    height: 100%;
}

#credits-list #creditsCredits{
    color: azure;
    background-color: transparent;
    margin-bottom: 30px;
}

#credits-list #creditsCredits h1{
    font-size: 60px;
}


.Credit{
    width: 100%;
    color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.Credit h2{
    font-size: 35px;
    color: #FA0000;
}

.Credit p{
    font-size: 20px;
}

#settings-List{
    width: fit-content;
    min-width: 200px;
    background-color: rgb(128, 128, 128, 0.4);
    background-color: transparent;
    border: 4px solid #FA0000;
    box-shadow: 2px 2px 2px 2px rgb(250, 0, 0, 0.3), inset 2px 2px 2px 2px rgb(250, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    display: none;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding: 20px;
    border-radius: 8px;
    color: azure;
}

#backButtonSettingsDiv{
    position: relative;
    top: -10px;
    left: -170px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

#backButtonSettingsDiv img{
    width: 100%;
    height: 100%;
}

#settings-List #settingsSettings{
    margin-bottom: 30px;
}
#settings-List #settingsSettings h2{
    font-size: 60px;
}

#settings-List .Setting{
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin-bottom: 20px;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
}

#settings-List .Setting h3{
    margin-right: 20px;
}

#settings-List .Setting .pickOption{
    border: 2px solid #FA0000;
    padding: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-right: 8px;
    border-radius: 8px;
    cursor: pointer;
}

#settings-List .Setting .active{
    background-color: #FA0000;
}

#settings-List .Setting #rangeInput{
    color: #FA0000;
}
